<div class="nested-fields">
  <div class="field">
    <%= f.label :exercise_id %><br>
    <%= f.collection_select :exercise_id, Exercise.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :phase %><br>
    <%= f.text_field :phase, :required => true %>
  </div>
  <div class="field">
    <%= f.label :intensity %><br>
    <%= f.number_field :intensity, :required => true %>
  </div>
  <div class="field">
    <%= f.label :repetitions %><br>
    <%= f.number_field :repetitions, :required => true %>
  </div>
  <div class="field">
    <%= f.label :num_of_series %><br>
    <%= f.number_field :num_of_series, :required => true %>
  </div>
  <div class="field">
    <%= f.label :resting_period %><br>
    <%= f.number_field :resting_period, :required => true %>
  </div>
  <div class="actions">
    <%=  link_to_remove_association "Remove Exercise Session", f %>
  </div>
</div>
