<%= form_for(@exercise_plan) do |f| %>
  <% if @exercise_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise_plan.errors.count, "error") %> prohibited this exercise_plan from being saved:</h2>

      <ul>
      <% @exercise_plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :required => true %>
    <%= f.hidden_field :owner_id, :value => current_user.id %>
  </div>
  <h3>Sessions</h3>
  <%= f.fields_for :exercise_sessions do |session| %>
    <%= render 'exercise_session_fields', f: session %>
  <% end %>
  <div class="links">
    <%= link_to_add_association 'Add Exercise Session', f, :exercise_sessions, class: 'btn btn-default' %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit class: 'btn btn-default' %>
  </div>
<% end %>
