<%= form_for(@exercise_category) do |f| %>
  <% if @exercise_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise_category.errors.count, "error") %> prohibited this exercise_category from being saved:</h2>

      <ul>
      <% @exercise_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row">
      <div class="col-sm-6 portlets">
        <div class="widget">
          <div class="widget-header transparent">
            <h2><strong><%= @exercise_category.new_record? ? "New" : "Edit" %></strong> Muscle Group</h2>
          </div>
          <div class="widget-content padding">
            <div id="basic-form">
              <div class="form-group field">
                <%= f.label :name %><br>
                <%= f.text_field :name, :required => true, :class => "form-control", :placeholder => "Name" %>
              </div>
              <div class="form-group field">
                <%= f.label :ancestry %><br>
                <%= f.collection_select :ancestry, ExerciseCategory.arrange_as_array({:order => 'name'}, @exercise_category.possible_parents), :id, :name, {prompt: 'Select a Category'}, {class: 'form-control'} %>
              </div>

              <div class="actions">
                <%= f.submit :class => "btn btn-default" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
