<p id="notice"><%= notice %></p>

<div class="page-heading">
  <h1>
    <span class="glyphicon glyphicon-th-large"></span>
    Exercise Categories
  </h1>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="widget" id="training">
        <div class="widget-header transparent">
            <h2><strong>Total</strong> Training</h2>
            <div class="additional-btn">
              <a href="#" class="hidden reload"><span class="glyphicon glyphicon-refresh"></span></a>
              <a href="#" class="widget-toggle"><span class="glyphicon glyphicon-chevron-down"></span></a>
              <a href="#" class="widget-close" data-toggle="modal" data-target="#myModal">
                <span class="glyphicon glyphicon-remove"></span>
              </a>
            </div>
        </div>
        <div class="widget-content">
            <div class="data-table-toolbar">
                <div class="row">
                    <div class="col-md-4">
                        <form role="form">
                          <input type="text" class="form-control search" placeholder="Search...">
                        </form>
                    </div>
                    <div class="col-md-8">
                        <div class="toolbar-btn-action">
                            <a href="#" class="btn btn-success"><i class="fa fa-plus-circle"></i> New Training</a>
                            <a href="#" class="btn btn-primary"><i class="fa fa-refresh"></i> History</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table data-sortable class="table table-hover table-striped" data-sortable-initialized="true">
                    <thead>
                        <tr>
                          <th>Training with Personal Trainer</th>
                          <th>Individual Training</th>
                          <th>Total Training</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td>1</td>
                          <td>1</td>
                          <td>2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="widget" id="category">
          <div class="widget-header transparent">
            <h2><strong>Categories of</strong> Exercise</h2>
            <div class="additional-btn">
              <a href="#" class="hidden reload"><span class="glyphicon glyphicon-refresh"></span></a>
              <a href="#" class="widget-toggle"><span class="glyphicon glyphicon-chevron-down"></span></a>
              <a href="#" class="widget-close" data-toggle="modal" data-target="#myModal">
                <span class="glyphicon glyphicon-remove"></span>
              </a>
            </div>
          </div>
          <div class="widget-content">
            <div class="table-responsive">
              <table class="table table-hover table-striped">
                <thead>
                    <tr>
                      <th>Name</th>
                      <th>Ancestry</th>
                      <th colspan="3"></th>
                    </tr>
                </thead>
                <tbody>
                    <% @exercise_categories.each do |exercise_category| %>
                        <tr>
                          <td><%= exercise_category.name %></td>
                          <td><%= exercise_category.ancestry %></td>
                          <td><%= link_to 'Show', exercise_category %></td>
                          <td><%= link_to 'Edit', edit_exercise_category_path(exercise_category) %></td>
                          <td><%= link_to 'Destroy', exercise_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                    <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
</div>
<%= render 'layouts/modal' %>

