<%= hidden_field_tag :events, @client_training_sessions %>
<!-- BEGIN MODAL -->
<div class="modal fade" id="event-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><strong>Manage</strong> Training Session</h4>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success save-event">Add event</button>
        <button type="button" class="btn btn-danger delete-event" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL -->
<div class="row">
  <div class="col-md-12 portlets">
    <div class="widget">
      <div class="widget-header">
        <h2>Training Session Manager | <%= @client.email %></h2>
      </div>
      <div class="widget-content padding">
        <div class="col-md-12">
          <div class="widget bg-white">
            <div class="widget-body">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div id="calendar"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    $(document).ready(function(){
        var date = new Date();
        var calendarMode = localStorage.getItem('calendarMode');
        var calendar = $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek'
            },
            defaultView: function(){
                if (calendarMode) {
                    return calendarMode
                }
            }(),
            selectable: true,
            selectHelper: true,
            events: [
                <% if @client_training_sessions.present? %>
                    <% @client_training_sessions.each do |event| %>
                    {
                        id: '<%= event.id %>',
                        title: '<%= event.training_session_template.name %>',
                        start: '<%= event.start_at %>',
                        allDay: false
                    },
                    <% end %>
                <% end %>
            ],
            editable: false,
            eventClick: function (calEvent, jsEvent, view) {
                var form = $("<form></form>");
                form.append("<label>Change event name</label>");
                form.append("<div class='input-group'><input class='form-control' type=text value='" + calEvent.title + "' /><span class='input-group-btn'><button type='submit' class='btn btn-success'><i class='fa fa-check'></i> Save Changes</button></span></div>");
                $modal.modal({
                    backdrop: 'static'
                });
                $modal.find('.delete-event').show().end().find('.save-event').hide().end().find('.modal-body').empty().prepend(form).end().find('.delete-event').unbind('click').click(function () {
                    calendar.fullCalendar('removeEvents', function (ev) {
                        return (ev._id == calEvent._id);
                    });
                    $modal.modal('hide');
                });
                $modal.find('form').on('submit', function () {
                    calEvent.title = form.find("input[type=text]").val();
                    calendar.fullCalendar('updateEvent', calEvent);
                    $modal.modal('hide');
                    return false;
                });
            },
            select: function (start, end, allDay) {
                $modal.modal({
                    backdrop: 'static'
                });

                $modal.find('.delete-event').hide().end().find('.save-event').show().end().find('.modal-body').empty().prepend("<%= escape_javascript render :partial => 'training_session_form' %>").end().find('.save-event').unbind('click').click(function () {
                    var session_id = $('#training_session_training_session_template_id').val();
                    var plan_id = $('#training_session_training_plan_template_id').val();
                    var client_id = $('#client_id').val();

                    var hour = $('#training_session_start_at_4i').val();
                    var minute = $('#training_session_start_at_5i').val();
                    start.setHours(hour);
                    start.setMinutes(minute);

                    $.ajax({
                        type: "POST",
                        url: "/training_sessions",
                        data: { training_session: {training_plan_template_id: plan_id, training_session_template_id: session_id, start_at: start, client_id: client_id} }
                    }).done(function (msg) {
                        var view = $('#calendar').fullCalendar('getView');
                        localStorage.setItem('calendarMode', view.name);

                        window.location.reload(true);
                        calendar.fullCalendar('refetchEvents');
                    });
                    $modal.modal('hide');
                    return false;
                });

                var hour = start.getHours();
                var minute = start.getMinutes();

                if (hour){
                    $('#training_session_start_at_4i option:selected').val(hour).text(hour);
                    $('#training_session_start_at_5i option:selected').val(minute).text(minute);
                }
            }
        });

        var $modal = $('#event-modal');
    });
</script>