<div class="modal fade" id="event-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><strong>Manage</strong> Training Plan Template</h4>
      </div>
      <div class="modal-body">
        <% if @training_plan_template.new_record? %>
            <p style="color: red;">Fill up the name first!</p>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success save-event">Add event</button>
        <button type="button" class="btn btn-danger delete-event" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>
<%= form_for(@training_plan_template) do |f| %>
    <input type="hidden" name="start_date" id="start_date" value=""/>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Name</label>
          <%= f.text_field :name, :class => 'form-control' %>
          <%= f.hidden_field :owner_id, :value => current_user.id %>
          <%= f.hidden_field :start_date, :value => '2018-01-01' %>
        </div>
        <div class="actions">
          <%= f.submit class: 'btn btn-default' %>
        </div>
      </div>
    </div>
<% end %>
<!-- END MODAL -->
<div class="row">
  <div class="col-md-12 portlets">
    <div class="widget">
      <div class="widget-header">
        <h2></h2>
      </div>
      <div class="widget-content padding">
        <div class="col-md-3">
          <div class="widget bg-gray-light">
            <div class="widget-body">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h3 class="text-white" id="calender-current-date">Training Session Templates</h3>
                  <div id='draggable-events'>
                    <p>Drag and drop your TSTs or click in the calendar</p><br>

                    <%= label_tag 'Default Time' %>
                    <%= time_select('DefaultTime', '', {default: {hour: '16', minute: '00'}}, class: 'form-control') %>

                    <% current_user.training_session_templates.each do |tst| %>
                        <div class="draggable-event btn btn-block bg-green-1 text-white-1" data-class="bg-green-1" data-id="<%= tst.id %>">
                          <i class="fa fa-move"></i> <%= tst.name %>
                        </div>
                    <% end %>

                    <p>
                      <label>
                        <input id="drop-remove" type="checkbox"> remove after drop
                      </label>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="widget bg-white">
            <div class="widget-body">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div id="calendar"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% unless @training_plan_template.new_record? %>
    <%= form_for(@training_session, :html => {:style => "display: none"}) do |f| %>
        <%= f.hidden_field :training_plan_template_id, :value => @training_plan_template.id %>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Training Session Start At</label>
              <%= f.time_select :start_at, {}, {:class => 'form-control'} %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Training Session Template</label>
              <%= f.collection_select :training_session_template_id, TrainingSessionTemplate.all, :id, :name, {:prompt => 'Select a Template'}, {:class => 'form-control'} %>
            </div>
          </div>
        </div>
    <% end %>
<% end %>
<script>
    $(document).ready(function(){
        var date = new Date();
        var calendarMode = localStorage.getItem('calendarMode');
        var calendar = $('#calendar').fullCalendar({
            header: {
                left: 'prev,next',
                center: 'title',
                right: 'month,agendaWeek'
            },
            titleFormat: {
                month: '\'Month\' M',
                week: '\'Week\' W'
            },
            defaultView: function(){
                if (calendarMode) {
                    return calendarMode
                }
            }(),
            year: 2018,
            month: 0,
            date: 1,
            selectable: true,
            selectHelper: true,
            events: [
                <% if @training_sessions.present? %>
                    <% @training_sessions.each do |event| %>
                    {
                        id: '<%= event.id %>',
                        title: '<%= event.training_session_template.name %>',
                        start: '<%= event.start_at %>',
                        allDay: false
                    },
                    <% end %>
                <% end %>
            ],
            viewDisplay: function(currentView){
                var minDate = new Date(2018, 0, 1);
                if (minDate >= currentView.start){
                    $('.fc-button-prev').addClass('fc-state-disabled')

                } else {
                    $('.fc-button-prev').removeClass('fc-state-disabled')
                }
            },
            eventColor: '#ED1317',
            editable: true,
            droppable: true,
            drop: function (date, allDay) { // this function is called when something is dropped
                var plan_id = '<%= @training_plan_template.id %>';
                var session_id = $(this).data('id');
                var hour = $('#DefaultTime__4i option:selected').val()
                var minute = $('#DefaultTime__5i option:selected').val()

                date.setHours(hour);
                date.setMinutes(minute);

                if (plan_id){
                    $.ajax({
                        type: "POST",
                        url: "/training_sessions",
                        data: { training_session: {training_plan_template_id: plan_id, training_session_template_id: session_id, start_at: date} }
                    }).done(function (msg) {
                        var view = $('#calendar').fullCalendar('getView');
                        localStorage.setItem('calendarMode', view.name);

                        window.location.reload(true);
                        calendar.fullCalendar('refetchEvents');
                    });
                    // retrieve the dropped element's stored Event Object
                    var originalEventObject = $(this).data('eventObject');
                    var $categoryClass = $(this).attr('data-class');
                    // we need to copy it, so that multiple events don't have a reference to the same object
                    var copiedEventObject = $.extend({}, originalEventObject);
                    // assign it the date that was reported
                    copiedEventObject.start = date;
                    copiedEventObject.allDay = allDay;
                    if ($categoryClass)
                        copiedEventObject['className'] = [$categoryClass];
                    // render the event on the calendar
                    // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
                    $('#calendar').fullCalendar('renderEvent', copiedEventObject, false);
                    // is the "remove after drop" checkbox checked?
                    if ($('#drop-remove').is(':checked')) {
                        // if so, remove the element from the "Draggable Events" list
                        $(this).remove();
                    }
                }
            },
            eventClick: function (calEvent, jsEvent, view) {
                var form = $('form.new_training_session').html();
                $modal.modal({
                    backdrop: 'static'
                });
                $modal.find('.save-event').text('Update event');

                $.ajax({
                    type: "GET",
                    url: "/training_sessions/"+calEvent.id+"/show_current_tst",
                    dataType: 'script',
                    data: { training_session_id: calEvent.id}
                }).done(function (msg) {
                    calendar.fullCalendar('refetchEvents');
                });

                $modal.find('.delete-event').show().end().find('.save-event').show().end().find('.modal-body').empty().prepend(form).end().find('.save-event').unbind('click').click(function () {
                    var sessioId = $('#training_session_training_session_template_id').val();
                    var hour = $('#training_session_start_at_4i').val();
                    var minute = $('#training_session_start_at_5i').val();

                    calEvent.start.setHours(hour);
                    calEvent.start.setMinutes(minute);
                    $.ajax({
                        type: "PUT",
                        url: "/training_sessions/"+calEvent.id,
                        dataType: 'html',
                        data: { training_session: {training_session_template_id: sessioId, start_at: calEvent.start} }
                    }).done(function (msg) {
                        localStorage.setItem('calendarMode', view.name);
                        window.location.reload(true);
                        calendar.fullCalendar('refetchEvents');
                    });
                    $modal.modal('hide');
                });

                $modal.find('.delete-event').unbind('click').click(function () {
                    var id = calEvent.id;
                    $('#calendar').fullCalendar('removeEvents', id);
                    $.ajax({
                        type: "DELETE",
                        url: "/training_sessions/"+id,
                        dataType: 'html',
                        data: { training_session: {id: id} }
                    }).done(function (msg) {
                        calendar.fullCalendar('refetchEvents');
                    });
                    $modal.modal('hide');
                });
            },
            select: function (start, end, allDay) {
                $modal.modal({
                    backdrop: 'static'
                });
                $modal.find('.save-event').text('Add event');
                var view = $('#calendar').fullCalendar('getView');
                localStorage.setItem('calendarMode', view.name);

                <% unless @training_plan_template.new_record? %>
                    form = $('form#new_training_session').html();

                    $modal.find('.delete-event').hide().end().find('.save-event').show().end().find('.modal-body').empty().prepend(form).end().find('.save-event').unbind('click').click(function () {
                        var plan_id = $('#training_session_training_plan_template_id').val();
                        var session_id = $('#training_session_training_session_template_id').val();

                        var hour = $('#training_session_start_at_4i').val();
                        var minute = $('#training_session_start_at_5i').val();
                        start.setHours(hour);
                        start.setMinutes(minute);
                        $.ajax({
                            type: "POST",
                            url: "/training_sessions",
                            data: { training_session: {training_plan_template_id: plan_id, training_session_template_id: session_id, start_at: start} }
                        }).done(function (msg) {
                            window.location.reload(true);
                            calendar.fullCalendar('refetchEvents');
                        });
                        $modal.modal('hide');
                        return false;
                    });

                    var hour = start.getHours();
                    var minute = start.getMinutes();

                    if (hour){
                        $('#training_session_start_at_4i option:selected').val(hour).text(hour);
                        $('#training_session_start_at_5i option:selected').val(minute).text(minute);
                    }

                <% end %>
            }
        });

        var $modal = $('#event-modal');

        $('#draggable-events div.draggable-event').each(function () {
            // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
            // it doesn't need to have a start or end
            var eventObject = {
                title: $.trim($(this).text()) // use the element's text as the event title
            };
            // store the Event Object in the DOM element so we can get to it later
            $(this).data('eventObject', eventObject);
            // make the event draggable using jQuery UI
            $(this).draggable({
                zIndex: 999,
                revert: true, // will cause the event to go back to its
                revertDuration: 20 //  original position after the drag
            });

        });

    });
</script>