<%= form_for(@training_plan_template) do |f| %>
  <% if @training_plan_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@training_plan_template.errors.count, "error") %> prohibited this training_plan from being saved:</h2>

      <ul>
      <% @training_plan_template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
