<%= hidden_field_tag :plan_id, @training_plan_template.id %>
<div class="modal fade" id="event-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><strong>Create</strong> Training Sessions</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger delete-event" data-dismiss="modal">Delete</button>
        <button type="button" class="btn btn-success save-event">Create Training Session</button>

      </div>
    </div>
  </div>
</div>
<!-- END MODAL -->
<div class="row">
  <div class="col-md-12 portlets">
    <div class="widget">
      <div class="widget-header">
        <h2>Training Plan Template Manager</h2>
        <div class="additional-btn">
          <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
          <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
          <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
        </div>
      </div>
      <div class="widget-content padding">
        <div class="col-md-3">
          <div class="widget bg-gray-light">
            <div class="widget-body">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h3 class="text-white" id="calender-current-date">Events</h3>
                  <div id='draggable-events'>
                    <p>Drag and drop your event or click in the calendar</p><br>
                    <div class="draggable-event btn btn-block bg-green-1 text-white-1" data-class="bg-green-1">
                      <i class="fa fa-move"></i>Entertainment
                    </div>
                    <div class="draggable-event btn btn-block bg-pink-1 text-white-1" data-class="bg-pink-1">
                      <i class="fa fa-move"></i>Meeting
                    </div>
                    <div class="draggable-event btn btn-block bg-lightblue-1 text-white-1" data-class="bg-lightblue-1">
                      <i class="fa fa-move"></i>Lunch
                    </div>
                    <div class="draggable-event btn btn-block bg-red-1 text-white-1" data-class="bg-red-1">
                      <i class="fa fa-move"></i>Work
                    </div>
                    <div class="draggable-event btn btn-block bg-blue-1 text-white-1" data-class="bg-blue-1">
                      <i class="fa fa-move"></i>Sport
                    </div><br>
                    <p>
                      <label>
                        <input id="drop-remove" type="checkbox"> remove after drop
                      </label>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="widget bg-white">
            <div class="widget-body">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div id="calendar"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= form_for(@training_session) do |f| %>
    <%= f.hidden_field :training_plan_template_id, :value => @training_plan_template.id %>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Training Session Start At</label>
          <%= f.time_select :start_at, {}, {:class => 'form-control'} %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Training Session Template</label>
          <%= f.collection_select :training_session_template_id, TrainingSessionTemplate.all, :id, :name, {:prompt => 'Select a Template'}, {:class => 'form-control'} %>
        </div>
      </div>
    </div>
<% end %>
<script>
    $(document).ready(function(){
        var calendar = $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek'
            },
            titleFormat: '\'Month 1\'',
            year: 2018,
            month: 0,
            date: 1,
            selectable: true,
            selectHelper: true,
            events: [
                <% @training_sessions.each do |event| %>
                {
                    id: '<%= event.id %>',
                    title: '<%= event.training_plan_template.name %>',
                    start: '<%= event.start_at %>',
                    allDay: false
                },
                <% end %>
            ],
            eventColor: '#ED1317',
            editable: true,
            droppable: true, // this allows things to be dropped onto the calendar !!!
            drop: function (date, allDay) { // this function is called when something is dropped
                // retrieve the dropped element's stored Event Object
                var originalEventObject = $(this).data('eventObject');
                var $categoryClass = $(this).attr('data-class');
                // we need to copy it, so that multiple events don't have a reference to the same object
                var copiedEventObject = $.extend({}, originalEventObject);
                // assign it the date that was reported
                copiedEventObject.start = date;
                copiedEventObject.allDay = allDay;
                if ($categoryClass)
                    copiedEventObject['className'] = [$categoryClass];
                // render the event on the calendar
                // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
                $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);
                // is the "remove after drop" checkbox checked?
                if ($('#drop-remove').is(':checked')) {
                    // if so, remove the element from the "Draggable Events" list
                    $(this).remove();
                }
            },

            selectable: true,
            eventClick: function (calEvent, jsEvent, view) {
                var form = $("<form></form>");
                form.append("<label>Change event name</label>");
                form.append("<div class='input-group'><input class='form-control' id='plan-name' type=text value='" + calEvent.title + "' /><span class='input-group-btn'><button type='submit' class='btn btn-success save-event'><i class='fa fa-check'></i> Save Changes</button></span></div>");
                $modal.modal({
                    backdrop: 'static'
                });
                $modal.find('.delete-event').show().end().find('.save-event').show().end().find('.modal-body').empty().prepend(form).end().find('.save-event').unbind('click').click(function () {
                    var name = $('#plan-name').val();
                    var plan_id = $('#plan_id').val();
                    $.ajax({
                        type: "PUT",
                        url: "/training_plan_templates/"+plan_id,
                        dataType: 'script',
                        data: { training_plan_template: {name: name} }
                    }).done(function (msg) {
                        window.location.reload(true);
                        calendar.fullCalendar('refetchEvents');
                    });
                    $modal.modal('hide');
                });
                $modal.find('.delete-event').unbind('click').click(function () {
                    var id = calEvent.id;
                    $('#calendar').fullCalendar('removeEvents', id);
                    $.ajax({
                        type: "DELETE",
                        url: "/training_sessions/"+id,
                        dataType: 'html',
                        data: { training_session: {id: id} }
                    }).done(function (msg) {
                        window.location.reload(true);
                        calendar.fullCalendar('refetchEvents');
                    });
                    $modal.modal('hide');
                });
            },
            select: function (start, end, allDay) {
                $modal.modal({
                    backdrop: 'static'
                });
                form = $('form#new_training_session').html();
                $modal.find('.delete-event').hide().end().find('.save-event').show().end().find('.modal-body').empty().prepend(form).end().find('.save-event').unbind('click').click(function () {
                    var plan_id = $('#training_session_training_plan_template_id').val();
                    var session_id = $('#training_session_training_session_template_id').val();
                    var hour = $('#training_session_start_at_4i').val();
                    var minute = $('#training_session_start_at_5i').val();
                    start.setHours(hour);
                    start.setMinutes(minute);
                    $.ajax({
                        type: "POST",
                        url: "/training_sessions",
                        data: { training_session: {training_plan_template_id: plan_id, training_session_template_id: session_id, start_at: start} }
                    }).done(function (msg) {
                        window.location.reload(true);
                        calendar.fullCalendar('refetchEvents');
                    });
                    $modal.modal('hide');
                    return false;
                });
            }
        });

        var $modal = $('#event-modal');
        $('#draggable-events div.draggable-event').each(function () {
            // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
            // it doesn't need to have a start or end
            var eventObject = {
                title: $.trim($(this).text()) // use the element's text as the event title
            };
            // store the Event Object in the DOM element so we can get to it later
            $(this).data('eventObject', eventObject);
            // make the event draggable using jQuery UI
            $(this).draggable({
                zIndex: 999,
                revert: true, // will cause the event to go back to its
                revertDuration: 20 //  original position after the drag
            });
        });

    });
</script>