<p id="notice"><%= notice %></p>

<h1>Training Plan Templates</h1>

<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th>Start Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @training_plan_templates.each do |training_plan| %>
      <tr>
        <td><%= training_plan.name %></td>
        <td><%= training_plan.user.email if training_plan.user.present? %></td>
        <td><%= training_plan.start_date %></td>
        <td><%= link_to 'Show', training_plan %></td>
        <td><%= link_to 'Edit', training_plan_template_create_training_session_path(training_plan) %></td>
        <td><%= link_to 'Destroy', training_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Training plan Template', new_training_plan_template_path %>
