<!--<div class="pull-left">-->
  <%= link_to 'Creare New User', admin_new_path, :class => 'btn btn-success' %>
  <%= link_to 'Creare New Exercise', new_exercise_path, :class => 'btn btn-success' %>
<!--</div>-->

<!--<div class="pull-left text-left" >-->
  <table class="table table-striped " >
    <thead>
    <tr>
      <th>User Email</th>
      <th>Type</th>
      <th>Activated On</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>

        <tr>
          <td><%= user.email %></td>
          <td><%= user.type.nil? ? 'User' : user.type %></td>
          <td><%= user.created_at %></td>
        </tr>
    <% end %>
    </tbody>

  </table>

<!--</div>-->
