<div class="page-heading">
  <h1>
    <i class="fa fa-th-large"></i>
    Admin Dashboard
  </h1>
</div>

<div class="col-sm-12 portlets ui-sortable">
  <div class="widget">
    <div class="widget-header">
      <h2><strong>Users</strong> list</h2>
    </div>
    <div class="widget-content padding">
      <table class="table table-responsive" >
        <thead>
            <tr>
              <th>User Email</th>
              <th>Type</th>
              <th>Activated On</th>
              <th></th>
            </tr>
        </thead>
        <tbody>
            <% @users.each do |user| %>
                <tr>
                  <td><%= user.email %></td>
                  <td><%= user.type.nil? ? 'User' : user.type %></td>
                  <td><%= user.created_at %></td>
                  <td><%= link_to 'Edit', '#' %></td>
                </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= render 'layouts/taskbar' %>
