<%= form_for @user, :url => user_update_path, :method => :post, :html => {:class => 'form-horizontal form-box'} do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="row">
      <div class="col-md-6 portlets">
        <div class="widget-header transparent">
          <h2><strong>Edit Profile</strong></h2>
        </div>
        <div class="widget-content padding">
          <div id="basic-form">
            <div class="form-group field">
              <%= f.label :email %><br>
              <%= f.text_field :email, :class => "form-control", :placeholder => "Name" %>
            </div>
            <div class="form-group field">
              <%= f.label :password %><br>
              <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Name" %>
            </div>
            <div class="actions">
              <%= f.submit :class => "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>