<h2 class="form-signin-heading">LOGIN</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


    <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Email" %>

    <br>
    <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Password" %>
    <br>

    <%= f.submit "Log in", :class => "btn btn-lg btn-primary btn-block", :style => "width: 100%" %>

    <br>

    <a href="<%= user_omniauth_authorize_path(:facebook) %>" class="btn btn-block btn-social btn-facebook">
      Login with Facebook
    </a>
<% end %>
