<%= form_for(@training_session) do |f| %>
  <% if @training_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@training_session.errors.count, "error") %> prohibited this training_session from being saved:</h2>

      <ul>
      <% @training_session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :training_plan_id %><br>
    <%= f.collection_select :training_plan_id, TrainingPlan.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :exercise_plan_id %><br>
    <%= f.collection_select :exercise_plan_id, ExercisePlan.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :day %><br>
    <%= f.number_field :day %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
