<%= form_for(@muscle) do |f| %>
  <% if @muscle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@muscle.errors.count, "error") %> prohibited this muscle from being saved:</h2>

      <ul>
      <% @muscle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :required => true %>
  </div>
  <div class="field">
    <%= f.label :muscle_group_id %><br>
    <%= f.collection_select :muscle_group_id, MuscleGroup.all, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
