<p id="notice"><%= notice %></p>

<h1>Listing Muscles</h1>

<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Muscle group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @muscles.each do |muscle| %>
      <tr>
        <td><%= muscle.name %></td>
        <td><%= muscle.muscle_group.name %></td>
        <td><%= link_to 'Show', muscle %></td>
        <td><%= link_to 'Edit', edit_muscle_path(muscle) %></td>
        <td><%= link_to 'Destroy', muscle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
