<%= form_for(@muscle_group) do |f| %>
  <% if @muscle_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@muscle_group.errors.count, "error") %> prohibited this muscle_group from being saved:</h2>

      <ul>
      <% @muscle_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
	<div class="row">
		<div class="col-sm-6 portlets">
			<div class="widget">
				<div class="widget-header transparent">
					<h2><strong><%=@muscle_group.new_record? ? "New" : "Edit" %></strong> Muscle Group</h2>
				</div>
				<div class="widget-content padding">							
					<div id="basic-form">
					  <div class="form-group field">
<%= f.label :name %><br>
<%= f.text_field :name, :required => true, :class => "form-control", :placeholder => "Name" %>
					  </div>
					  <div class="actions">
					    <%= f.submit :class => "btn btn-default" %>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
<% end %>
