<%= tinymce_assets %>
<%= form_for(@exercise, :html => {:class => 'form-horizontal form-box'}) do |f| %>
  <% if @exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
      <% @exercise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-box-control">
    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %><br>
      <%= f.text_field :name %>
    </div>
    <div class="control-group">
      <%= f.label :type, :class => 'control-label' %><br>
      <%= f.text_field :exercise_type%>
    </div>
    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %><br>
      <%= f.text_area :description, :class => 'tinymce', :rows => 20, :cols => 120 %>
      <%= tinymce %>
    </div>
    <div class="control-group">
      <%= f.label :image, :class => 'control-label' %><br>
      <%= f.file_field :image %>
    </div>
    <div class="control-group">
      <%= f.label :youtube_video_link, :class => 'control-label' %><br>
      <%= f.text_field :youtube_video_link %>
    </div>
    <div class="control-group">
      <%= f.label :calories, :class => 'control-label' %><br>
      <%= f.number_field :calories %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>



