<%= tinymce_assets %>
<%= form_for(@exercise, :html => {:class => 'form-horizontal form-box'}) do |f| %>
  <% if @exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
      <% @exercise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="row">
      <div class="col-sm-6 portlets">
        <div class="widget">
          <div class="widget-header transparent">
            <h2><strong><%= @exercise.new_record? ? "New" : "Edit" %></strong> Muscle Group</h2>
          </div>
          <div class="widget-content padding">
            <div id="basic-form">
              <div class="form-group field">
                <%= f.label :name %><br>
                <%= f.text_field :name, :required => true, :class => "form-control", :placeholder => "Name" %>
              </div>
              <div class="form-group field">
                <%= f.label :exercise_category, :class => 'control-label' %><br>
                <%= f.collection_select :exercise_category_id, ExerciseCategory.all, :id, :name, {}, {class: 'form-control'} %>
              </div>

              <div class="form-group field">
                <%= f.label :exercise_type, :class => 'control-label' %><br>
                <%= f.text_field :exercise_type, :required => true, :class => "form-control", :placeholder => "Name" %>
              </div>
              <div class="form-group">
                <%= f.text_area :description, :class => 'summernote' %>
              </div>
              <div class="form-group">
                <%= f.file_field :image, :class => 'btn btn-default', title: 'Search For an Image to Add' %>
              </div>
              <div class="form-group field">
                <%= f.label :youtube_video_link, :class => 'control-label' %><br>
                <%= f.text_field :youtube_video_link, :required => true, :class => "form-control", :placeholder => "Name" %>
              </div>
              <div class="form-group field">
                <%= f.label :calories, :class => 'control-label' %><br>
                <%= f.text_field :calories, :required => true, :class => "form-control", :placeholder => "Name" %>
              </div>
              <div class="actions">
                <%= f.submit :class => "btn btn-default" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<% end %>



