<p id="notice"><%= notice %></p>

<%= link_to 'New Exercise', new_exercise_path, :class => 'btn btn-danger pull-right' %>
<h1>Listing Exercises</h1>

<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Type</th>
      <th>Description</th>
      <th>Image</th>
      <th>Youtube video link</th>
      <th>Calories</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exercises.each do |exercise| %>
      <tr>
        <td><%= exercise.name %></td>
        <td><%= exercise.exercise_category.name %></td>
        <td><%= exercise.exercise_type %></td>
        <td><%= exercise.description.html_safe %></td>
        <td><%= image_tag exercise.image, :size => "200x150" %></td>
        <td><%= link_to exercise.youtube_video_link, exercise.youtube_video_link, :target => '_blank' %></td>
        <td><%= exercise.calories %></td>
        <td><%= link_to 'Show', exercise %></td>
        <td><%= link_to 'Edit', edit_exercise_path(exercise) %></td>
        <td><%= link_to 'Destroy', exercise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
