<div class="page-heading">
  <h1><i class='fa fa-list'></i> Muscle</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="widget">
      <div class="widget-header">
        <h2>Muscle</h2>
      </div>
      <div class="widget-content padding">
        <div class="dd" id="nestable">
          <ol class="dd-list">
            <li class="dd-item">
              <div class="dd-handle">
                Name:
                <span class="orange"><%= @exercise.name %></span>
                <% if can? :update, @exercise %>
                    <a title="Edit" href="<%= edit_exercise_path(@exercise) %>" class="pull-right tooltip-info dd-nodrag btn btn-primary btn-xs text-white-1">
                      <i class="fa fa-pencil"></i>
                    </a>
                <% end %>
              </div>
            </li>
            <li class="dd-item">
              <div class="dd-handle">
                Category:
                <span class="orange"><%= @exercise.exercise_category.name %></span>
              </div>
            </li>
            <li class="dd-item">
              <div class="dd-handle">
                Type:
                <span class="orange"><%= @exercise.exercise_type %></span>
              </div>
            </li>
            <li class="dd-item">
              <div class="dd-handle">
                Description:
                <span class="orange"><%=h truncate(@exercise.description, :length => 50) %></span>
              </div>
            </li>
            <li class="dd-item">
              <div class="dd-handle">
                Primary Muscles:
              </div>
              <ol class="dd-list dd-nodrag">
                <% @exercise.primary_muscles.each do |muscle| %>
                    <li class="dd-item">
                      <div class="dd-handle">
                        Name:
                        <%= link_to muscle.name, '#', class: 'dd-nodrag' %>
                      </div>
                    </li>
                    <li class="dd-item">
                      <div class="dd-handle">
                        Muscle Group:
                        <%= link_to muscle.muscle_group.name, '#', class: 'dd-nodrag' %>
                      </div>
                    </li>
                <% end %>

              </ol>
            </li>
            <li class="dd-item">
              <div class="dd-handle">
                Secondary Muscles:
              </div>
              <ol class="dd-list dd-nodrag">
                <% @exercise.secondary_muscles.each do |muscle| %>
                    <li class="dd-item">
                      <div class="dd-handle">
                        Name:
                        <%= link_to muscle.name, '#', class: 'dd-nodrag' %>
                      </div>
                    </li>
                    <li class="dd-item">
                      <div class="dd-handle">
                        Muscle Group:
                        <%= link_to muscle.muscle_group.name, '#', class: 'dd-nodrag' %>
                      </div>
                    </li>
                <% end %>

              </ol>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>

</div>

