<div id="sidebar-menu">
  <ul>
    <li>
      <a href='<%= admin_index_path %>' class="active" id='dashboard'>
        <i class='icon-home-3'></i>
        <span>Users</span>
      </a>
    </li>
    <li class='has_sub'><a href='javascript:void(0);' id='muscle'><i class='icon-chart-line'></i><span>Muscles</span>
      <span class="pull-right"><i class="fa fa-angle-down"></i></span></a>
      <ul>
        <li><a href='<%= muscles_path %>' id='all-muscle'><span>View All Muscle</span></a></li>
        <li><a href='<%= new_muscle_path %>' id='new-muscle'><span>New Muscle</span></a></li>
      </ul>
    </li>
    <li class='has_sub'><a href='javascript:void(0);' id='muscle-group'><i class='fa fa-envelope'></i><span>Muscle Groups</span>
      <span class="pull-right"><i class="fa fa-angle-down"></i></span></a>
      <ul>
        <li><a href='<%= muscle_groups_path %>' id='all-muscle-group'><span>View All</span></a></li>
        <li><a href='<%= new_muscle_group_path %>' id='new-muscle-group'><span>New Muscle Group</span></a></li>
      </ul>
    </li>
    <li class='has_sub'>
      <a href='javascript:void(0);' id='training-session'><i class='fa fa-map-marker'></i><span>Exercises</span>
        <span class="pull-right"><i class="fa fa-angle-down"></i></span></a>
      <ul>
        <li><a href='<%= exercises_path %>' id='all-training-session'><span>All Exercises</span></a></li>
        <li><a href='<%= new_exercise_path %>' id='new-training-session'><span>New Exercise</span></a></li>
        <li class='has_sub'><a href='javascript:void(0);'><span>Targeted Muscles</span>
          <span class="pull-right"><i class="fa fa-angle-down"></i></span></a>
          <ul>
            <li><a href='<%= targeted_muscles_path %>' id='all-targeted-muscle'><span>All Targeted Muscle</span></a></li>
            <li><a href='<%= new_targeted_muscle_path %>' id='new-targeted-muscle'><span>New Targeted Muscle</span></a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class='has_sub'>
      <a href='javascript:void(0);' id='exercise-category'>
        <i class='icon-feather'></i>
        <span>Exercise Categories</span>
            <span class="pull-right">
              <i class="fa fa-angle-down"></i>
            </span>
      </a>
      <ul>
        <li>
          <a href='<%= exercise_categories_path %>' id='all-category'><span>All Categories</span></a>
        </li>
        <li>
          <a href='<%= new_exercise_category_path %>' id='new-category'><span>New Categories</span></a>
        </li>

      </ul>
    </li>
  </ul>
  <div class="clearfix"></div>
</div>