<div id="sidebar-menu">
  <ul>
    <li>
      <a href='<%= coach_index_path %>' class="active" id='dashboard'>
        <i class='icon-home-3'></i>
        <span>Users</span>
      </a>
    </li>
    <li class='has_sub'>
      <a href='javascript:void(0);' id='exercise-plan'>
        <i class='icon-pencil-3'></i>
        <span>Training Session Templates</span>
        <span class="pull-right"><i class="fa fa-angle-down"></i></span>
      </a>
      <ul>
        <li>
          <a href='<%= training_session_templates_path %>' id='all-exercise-plan'><span>View All</span></a>
        </li>
        <li>
          <a href='<%= new_training_session_template_path %>' id='new-exercise-plan'><span>New Training Session Template</span></a>
        </li>
      </ul>
    </li>
    <li class='has_sub'>
      <a href='javascript:void(0);' id='training-plan'>
        <i class='fa fa-table'></i>
        <span>Training Plan Templates</span>
        <span class="pull-right"><i class="fa fa-angle-down"></i></span>
      </a>
      <ul>
        <li>
          <a href='<%= training_plan_templates_path %>' id='all-training-plan'><span>View All</span></a>
        </li>
        <li>
          <a href='<%= new_training_plan_template_path %>' id='new-training-plan'><span>New Trainig Plan Template</span></a>
        </li>
      </ul>
    </li>
    <li>
      <a href='<%= exercises_path %>' id='training-session'><i class='fa fa-map-marker'></i><span>Exercises</span></a>
    </li>
  </ul>
  <div class="clearfix"></div>
</div>