<nav class='sidebar sidebar-menu-collapsed'>
  <div class="topmost-secion">
    <div class="heading expanded-element">
      <%= image_tag 'logo.png' %>
    </div>
    <a href='#' id='justify-icon' class="expandable">
      <i class="fa fa-bars collapsed-element"></i>
    </a>
  </div>


  <div class="search-box-custom">
    <form style="width:100%;">
      <input class="search-text form-control" type="text"  placeholder="Search">
      <button class="search-button btn" type="submit"><i class="glyphicon glyphicon-search"></i></button>
    </form>
  </div>
  <div class="row">
    <div class="col-xs-4 profile-info">
      <div class="profile">
        <a class='expandable rounded-image profile-image' href='#' title='User'>
          <span class='collapsed-element'><%= image_tag "profile.png" %> </span>
          <span class='expanded-element pull-left'> <%= current_user.email %> </span>
        </a>
      </div>

    </div>
    <div class="col-xs-8 .profile-info">
      <div class="user">
        <div class="user-heading">
          User Name
        </div>
        <div class="user-info">
          <a class="collapsed-element message-icon"  href="#"><i class='fa fa-envelope-o pulse' ></i></a>
          <a class="collapsed-element signout-icon" href="<%= destroy_user_session_path %>" data-method="delete"><span class='glyphicon glyphicon-off '></span></a>

        </div>
      </div>
    </div>
  </div>

  <hr class="divider">
  <ul class="main-menu">
    <% if current_user.type == 'Admin' %>
        <%= render partial: 'layouts/admin_menu' %>
    <% else %>
        <%= render partial: 'layouts/user_menu' %>
    <% end %>
  </ul>

</nav>