<nav class='sidebar sidebar-menu-collapsed'>
  <div class="topmost-secion">
    <div class="heading expanded-element">
      OnCoach
    </div>
    <a href='#' id='justify-icon' class="expandable">
      <span class='fa fa-bars collapsed-element'></span>
    </a>
  </div>


  <div class="search-box-custom">
    <form style="width:100%;">

      <input class="search-text form-control" type="text"  placeholder="Search">
      <button class="search-button btn" type="submit"><i class="glyphicon glyphicon-search"></i></button>
    </form>
  </div>
  <div class="row">
    <div class="col-xs-4 profile-info">
      <div class="profile">
        <a class='expandable rounded-image profile-image' href='#' title='User'>
          <span class='collapsed-element'><%= image_tag "profile.png" %> </span>
          <span class='expanded-element pull-left'> <%= current_user.email %> </span>
        </a>
      </div>

    </div>
    <div class="col-xs-8 .profile-info">
      <div class="user">
        <div class="user-heading">
          Omuk
        </div>
        <div class="user-info">
          <a class="collapsed-element message-icon"  href="#"><span class='glyphicon glyphicon-envelope' ></span></a>
          <a class="collapsed-element signout-icon" href="<%= destroy_user_session_path %>" data-method="delete"><span class='glyphicon glyphicon-off '></span></a>

        </div>
      </div>
    </div>
  </div>

  <hr class="divider">
  <ul class="main-menu">
    <li class=' dashboard'>
      <a class='expandable ' href='#' title='<%= current_user.type == 'Admin' ? 'Home' : 'Dashboard' %>'>
        <span class='glyphicon glyphicon-home collapsed-element'></span>
        <span class='expanded-element'><%= current_user.type == 'Admin' ? 'Home' : 'Dashboard' %></span>
      </a>
      <div class="left-arrow-wrapper">
        <span class="left-arrow"></span>
      </div>

    </li>
    <li>
      <a class='expandable' href='#' title='<%= current_user.type == 'Admin' ? 'Customer management' : 'Input' %>'>
        <span class='glyphicon glyphicon-plus-sign collapsed-element'></span>
        <span class='expanded-element'><%= current_user.type == 'Admin' ? 'Customer management' : 'Input' %></span>
        <i class="glyphicon glyphicon-chevron-down expanded-element dropdown-icon"> </i>
      </a>
      <ul class="sub-menu">
        <% if current_user.type == 'Admin' %>
            <li><a href="#">Customer</a></li>
            <li><a href="#">Type of customers</a></li>
            <li><a href="#">Table of services</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Goals</a></li>
            <li><a href="#">Level</a></li>
            <li><a href="#">Records</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Statistics</a></li>
        <% else %>
            <li><a href="#">This is item1</a></li>
            <li><a href="#">This is item2</a></li>
            <li><a href="#">This is item3</a></li>
            <li><a href="#">This is item4</a></li>
        <% end %>

      </ul>
    </li>
    <li>
      <a class='expandable' href='#' title='<%= current_user.type == 'Admin' ? 'Training' : 'Programs' %>'>
        <span class='glyphicon glyphicon-heart-empty collapsed-element'></span>
        <span class='expanded-element'><%= current_user.type == 'Admin' ? 'Training' : 'Programs' %></span>
        <i class="glyphicon glyphicon-chevron-down expanded-element dropdown-icon"> </i>
      </a>
      <ul class="sub-menu">
        <% if current_user.type == 'Admin' %>
            <li><a href="#">Weekly Plans</a></li>
            <li><a href="#">Plans</a></li>
            <li><a href="<%= exercises_path %> ">Exercises</a></li>
        <% else %>
            <li><a href="#">This is item1</a></li>
            <li><a href="#">This is item2</a></li>
            <li><a href="#">This is item3</a></li>
            <li><a href="#">This is item4</a></li>
        <% end %>
      </ul>
    </li>
    <li>
      <a class='expandable' href='#' title='<%= current_user.type == 'Admin' ? 'Nutrition' : 'Trainer' %>'>
        <span class='fa fa-male collapsed-element'></span>
        <span class='expanded-element'><%= current_user.type == 'Admin' ? 'Nutrition' : 'Trainer' %></span>
        <i class="glyphicon glyphicon-chevron-down expanded-element dropdown-icon"> </i>
      </a>
      <ul class="sub-menu">
        <% if current_user.type == 'Admin' %>
            <li><a href="#">Plans</a></li>
            <li><a href="#">Items</a></li>
        <% else %>
            <li><a href="#">This is item1</a></li>
            <li><a href="#">This is item2</a></li>
            <li><a href="#">This is item3</a></li>
            <li><a href="#">This is item4</a></li>
        <% end %>
      </ul>
    </li>
    <li>
      <a class='expandable' href='#' title='<%= current_user.type == 'Admin' ? 'Programs' : 'Food' %>'>
        <span class="fa fa-cutlery collapsed-element"></span>
        <span class='expanded-element'><%= current_user.type == 'Admin' ? 'Programs' : 'Food' %></span>
        <i class="glyphicon glyphicon-chevron-down expanded-element dropdown-icon"> </i>
      </a>
    </li>
    <li>
      <a class='expandable' href='#' title='<%= current_user.type == 'Admin' ? 'Physical Evaluation' : 'Reports' %>'>
        <span class="fa fa-file-text"></span>
        <span class='expanded-element'><%= current_user.type == 'Admin' ? 'Physical Evaluation' : 'Reports' %></span>
        <i class="glyphicon glyphicon-chevron-down expanded-element dropdown-icon"> </i>
      </a>
      <ul class="sub-menu">
        <% if current_user.type == 'Admin' %>
            <li><a href="#">Evaluation Protocols</a></li>
            <li><a href="#">Evaluation Tests</a></li>
            <li><a href="#">Category of Tests</a></li>
        <% else %>
            <li><a href="#">This is item1</a></li>
            <li><a href="#">This is item2</a></li>
            <li><a href="#">This is item3</a></li>
            <li><a href="#">This is item4</a></li>
        <% end %>
      </ul>
    </li>
    <li>
      <a class='expandable' href='#' title='<%= current_user.type == 'Admin' ? 'Questionnaires' : 'Contents' %>'>
        <span class="glyphicon glyphicon-briefcase"></span>
        <span class='expanded-element'><%= current_user.type == 'Admin' ? 'Questionnaires' : 'Contents' %></span>
        <i class="glyphicon glyphicon-chevron-down expanded-element dropdown-icon"> </i>
      </a>
      <ul class="sub-menu">
        <% if current_user.type == 'Admin' %>
            <li><a href="#">Issues</a></li>
            <li><a href="#">Type of Answers</a></li>
        <% else %>
            <li><a href="#">This is item1</a></li>
            <li><a href="#">This is item2</a></li>
            <li><a href="#">This is item3</a></li>
            <li><a href="#">This is item4</a></li>
        <% end %>
      </ul>

    </li>
    <li>
      <a class='expandable' href='#' title='<%= current_user.type == 'Admin' ? 'Contents' : 'Servicing' %>'>
        <span class="glyphicon glyphicon-euro"></span>
        <span class='expanded-element'><%= current_user.type == 'Admin' ? 'Contents' : 'Servicing' %></span>
        <i class="glyphicon glyphicon-chevron-down expanded-element dropdown-icon"> </i>
      </a>
      <ul class="sub-menu">
        <% if current_user.type == 'Admin' %>
            <li><a href="#">Articles</a></li>
            <li><a href="#">Tips</a></li>
            <li><a href="#">Recipes</a></li>
        <% else %>
            <li><a href="#">This is item1</a></li>N
            <li><a href="#">This is item2</a></li>
            <li><a href="#">This is item3</a></li>
            <li><a href="#">This is item4</a></li>
        <% end %>
      </ul>
    </li>
    <li>
      <a class='expandable' href='#' title='Posts'>
        <span class="fa fa-envelope"></span>
        <span class='expanded-element'>Posts</span>
        <i class="glyphicon glyphicon-chevron-down expanded-element dropdown-icon"> </i>
      </a>
      <ul class="sub-menu">
        <li><a href="#">This is item1</a></li>
        <li><a href="#">This is item2</a></li>
        <li><a href="#">This is item3</a></li>
        <li><a href="#">This is item4</a></li>
      </ul>
    </li>
  </ul>

</nav>