<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "OnCoach" %></title>
  <%= csrf_meta_tags %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>

  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application", :media => "all" %>

</head>
<body>
    <div id="wrapper">
          <%= render partial: "layouts/sidebar" %>
          <!--<!-- Page Content -->-->
          <div id="page-content-wrapper">
                <%= render partial: "layouts/nav" %>
                <div class="container">
                      <div class="row">
                            <div class="col-lg-1">
                                <!--/.well -->
                            </div>
                            <div class="col-lg-10">
                                  <%= bootstrap_flash %>
                                  <%= yield %>
                            </div>
                            <div class="col-lg-1">
                                <!--/.well -->
                            </div>
                            <!--/span-->
                      </div>
                      <!--/row-->
                </div>
                <!-- /container -->
          </div>
          <!-- /#page-content-wrapper -->
    </div>
    <footer id="home-page-footer">
        <div align="center"> OnShape 2015 - 3.0</div>
    </footer>
</body>
</html>
