<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "OnCoach" %></title>
  <%= csrf_meta_tags %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
    <div id="wrapper">
          <nav class='sidebar sidebar-menu-collapsed'>
                <div class="topmost-secion">
                  <div class="heading expanded-element">
                    OnCoach
                  </div>
                  <a href='#' id='justify-icon' class="expandable">
                    <span class='fa fa-bars collapsed-element'></span>
                  </a>
                </div>


                <div class="search-box-custom">
                  <form style="width:100%;">

                      <input class="search-text form-control" type="text"  placeholder="Search">
                      <button class="search-button btn" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                  </form>
                </div>
                <div class="row">
                  <div class="col-xs-4 profile-info">
                    <div class="profile">
                      <a class='expandable rounded-image profile-image' href='#' title='User'>
                        <span class='collapsed-element'><%= image_tag "profile.png" %> </span>
                        <span class='expanded-element pull-left'> <%= current_user.email %> </span>
                      </a>
                    </div>

                  </div>
                  <div class="col-xs-8 .profile-info">
                    <div class="user">
                      <div class="user-heading">
                            Omuk
                      </div>
                      <div class="user-info">
                        <span class='fa fa-envelope-o pulse collapsed-element message-icon' ></span>
                        <span class='glyphicon glyphicon-off collapsed-element signout-icon '></span>

                      </div>
                    </div>
                  </div>
                </div>

                  <hr class="divider">
                  <ul class="main-menu">
                      <li class=' dashboard'>
                            <a class='expandable ' href='#' title='Dashboard'>
                                  <span class='glyphicon glyphicon-home collapsed-element'></span>
                                  <span class='expanded-element'>Dashboard</span>
                            </a>
                            <div class="left-arrow-wrapper">
                              <span class="left-arrow"></span>
                            </div>

                      </li>
                      <li>
                        <a class='expandable' href='#' title='Input'>
                          <span class='glyphicon glyphicon-plus-sign collapsed-element'></span>
                          <span class='expanded-element'>Input</span>
                          <i class="glyphicon glyphicon-chevron-down expanded-element dropdown-icon"> </i>
                        </a>
                        <ul class="sub-menu">
                          <li><a href="#">This is item1</a></li>
                          <li><a href="#">This is item2</a></li>
                          <li><a href="#">This is item3</a></li>
                          <li><a href="#">This is item4</a></li>
                        </ul>
                      </li>
                      <li>
                        <a class='expandable' href='#' title='Programs'>
                          <span class='glyphicon glyphicon-heart-empty collapsed-element'></span>
                          <span class='expanded-element'>Programs</span>
                          <i class="glyphicon glyphicon-chevron-down expanded-element dropdown-icon"> </i>
                        </a>
                        <ul class="sub-menu">
                          <li><a href="#">This is item1</a></li>
                          <li><a href="#">This is item2</a></li>
                          <li><a href="#">This is item3</a></li>
                          <li><a href="#">This is item4</a></li>
                        </ul>
                      </li>
                      <li>
                        <a class='expandable' href='#' title='Trainer'>
                          <span class='fa fa-male collapsed-element'></span>
                          <span class='expanded-element'>Trainer</span>
                          <i class="glyphicon glyphicon-chevron-down expanded-element dropdown-icon"> </i>
                        </a>
                        <ul class="sub-menu">
                          <li><a href="#">This is item1</a></li>
                          <li><a href="#">This is item2</a></li>
                          <li><a href="#">This is item3</a></li>
                          <li><a href="#">This is item4</a></li>
                        </ul>
                      </li>
                      <li>
                        <a class='expandable' href='#' title='Food'>
                          <span class="fa fa-cutlery collapsed-element"></span>
                          <span class='expanded-element'>Food</span>
                          <i class="glyphicon glyphicon-chevron-down expanded-element dropdown-icon"> </i>
                        </a>
                        <ul class="sub-menu">
                          <li><a href="#">This is item1</a></li>
                          <li><a href="#">This is item2</a></li>
                          <li><a href="#">This is item3</a></li>
                          <li><a href="#">This is item4</a></li>
                        </ul>
                      </li>
                      <li>
                        <a class='expandable' href='#' title='Report'>
                          <span class="fa fa-file-text"></span>
                          <span class='expanded-element'>Report</span>
                          <i class="glyphicon glyphicon-chevron-down expanded-element dropdown-icon"> </i>
                        </a>
                        <ul class="sub-menu">
                          <li><a href="#">This is item1</a></li>
                          <li><a href="#">This is item2</a></li>
                          <li><a href="#">This is item3</a></li>
                          <li><a href="#">This is item4</a></li>
                        </ul>
                      </li>
                      <li>
                        <a class='expandable' href='#' title='Contents'>
                          <span class="glyphicon glyphicon-briefcase"></span>
                          <span class='expanded-element'>Contents</span>
                          <i class="glyphicon glyphicon-chevron-down expanded-element dropdown-icon"> </i>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="#">This is item1</a></li>
                            <li><a href="#">This is item2</a></li>
                            <li><a href="#">This is item3</a></li>
                            <li><a href="#">This is item4</a></li>
                        </ul>

                      </li>
                      <li>
                        <a class='expandable' href='#' title='Servicing'>
                          <span class="glyphicon glyphicon-euro"></span>
                          <span class='expanded-element'>Servicing</span>
                          <i class="glyphicon glyphicon-chevron-down expanded-element dropdown-icon"> </i>
                        </a>
                        <ul class="sub-menu">
                          <li><a href="#">This is item1</a></li>
                          <li><a href="#">This is item2</a></li>
                          <li><a href="#">This is item3</a></li>
                          <li><a href="#">This is item4</a></li>
                        </ul>
                      </li>
                      <li>
                        <a class='expandable' href='#' title='Posts'>
                          <span class="fa fa-envelope"></span>
                          <span class='expanded-element'>Posts</span>
                          <i class="glyphicon glyphicon-chevron-down expanded-element dropdown-icon"> </i>
                        </a>
                        <ul class="sub-menu">
                          <li><a href="#">This is item1</a></li>
                          <li><a href="#">This is item2</a></li>
                          <li><a href="#">This is item3</a></li>
                          <li><a href="#">This is item4</a></li>
                        </ul>
                      </li>
                </ul>

          </nav>

          <!--<!-- Page Content -->-->
          <div id="page-content-wrapper">
                <nav class="navbar navbar-default">
                      <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                  </button>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                  <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Portuguese <span class="caret"></span></a>
                                      <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">English</a></li>
                                        <li><a href="#">French</a></li>
                                      </ul>
                                    </li>
                                  </ul>
                                  <ul class="nav navbar-nav navbar-right">
                                        <li class="dropdown iconify hide-phone">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                              <span class="fa fa-envelope"></span>
                                            </a>
                                        </li>
                                        <li class="dropdown iconify hide-phone">
                                          <a href="#" onclick="javascript:toggle_fullscreen()">
                                            <i class="glyphicon glyphicon-resize-full"></i>
                                          </a>
                                        </li>
                                        <li class="dropdown topbar-profile">

                                        </li>
                                        <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
                                  </ul>

                            </div><!-- /.navbar-collapse -->
                      </div><!-- /.container-fluid -->
                </nav>
                <div class="container">
                      <div class="row">
                            <div class="col-lg-1">
                                <!--/.well -->
                            </div>
                            <div class="col-lg-10">
                                  <%= bootstrap_flash %>
                                  <%= yield %>
                            </div>
                            <div class="col-lg-1">
                                <!--/.well -->
                            </div>
                            <!--/span-->
                      </div>
                      <!--/row-->
                </div>
                <!-- /container -->
          </div>
          <!-- /#page-content-wrapper -->
    </div>
</body>
</html>
